html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Fontil Sans';
}

.main-container {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 110px;
    padding: 20px;
    padding-top: 2px;
}
.centered {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 99;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }
.mb-20 {
    margin-bottom: 20px;
}
